body{
    background-image: url("https://orig00.deviantart.net/1439/f/2018/064/1/0/billy_by_igorlevchuk-dc52l2y.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
button{
    height: 60px;
    margin-top: 50%;
}